html, body {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 0 20px;
}
.wrap > div {
    border: 1px solid #000000;
    margin: 0 10px 15px;
}
.wrap > h1 {
    margin: 15px 10px 0;
}
.wrap .select-wrap {
    border: 1px solid #000000;
}
#create {
    overflow: hidden;
}
.select-wrap {
    float: left;
    width: 150px;
    height: 300px;
    margin: 10px;
}
.select-wrap::after {
    clear: both;
}
.select-item {
    text-align: center;
    border-bottom: 1px solid #000000;
}
.tag > .select-item {
    height: 30px;
    line-height: 30px;
}
.tag > .select-item.active {
    background-color: skyblue;
}
.tag > .select-item:hover {
    background-color: skyblue;
}
.color > .select-item {
    height: 149px;
    line-height: 149px;
}
.color > .select-item:last-child {
    border-bottom: none;
}
.color > .bg::before {
    content: "배경색: ";
}
.color > .fg::before {
    content: "글자색: ";
}
.attr > .select-item {
    height: 30px;
    line-height: 30px;
}
.attr input {
    width: 60px;
}
.text > .select-item {
    height: 100%;
}
.text textarea[name='text'] {
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 5px 0;
    resize: none;
}
.select-wrap > button {
    width: 100%;
    height: 100%;
}
