html, body {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 10px 20px;
}
.wrap > div {
    border: 1px solid #000000;
    margin: 0 10px 15px;
    min-height: 100px;
}
.wrap > h1 {
    margin: 15px 10px 0;
}
#title {
    min-height: 0;
    padding: 20px 0;
    background: linear-gradient(to left, #e66465, #9198e5);
    box-shadow: 7px 7px 5px #7f7f7f;

    font-size: 3.5em;
    text-align: center;
}
#create {
    overflow: hidden;
}
.select-wrap {
    float: left;
    width: 150px;
    margin: 10px;
}
.select-wrap::after {
    clear: both;
}
.select-head {
    border: 1px solid #000000;
    margin: 0 0 15px;
    padding: 10px 0;
    text-align: center;
    box-shadow: 3px 3px 5px #7f7f7f;
}
.select-body {
    height: 300px;
    /* border: 1px solid #000000; */
}
.select-item {
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 5px;
}
#tag .select-item {
    height: 30px;
    line-height: 30px;
}
#tag .select-item.active {
    background-color: skyblue;
}
#tag .select-item:hover {
    background-color: skyblue;
}
#color .select-item {
    height: 30px;
    line-height: 30px;
}
#attr .select-item {
    height: 30px;
    line-height: 30px;
}
#attr input {
    width: 60px;
}
#text .select-item {
    height: 100%;
}
#text textarea {
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 5px 0;
    resize: none;
    border: none;
}
.select-body > button {
    width: 100%;
    height: 100%;
}
button {
    font-size: 2em;
    border-radius: 5px;
    border-color: rgb(216, 216, 216);
    background-color: #ffffff;
}
button:active {
    box-shadow: inset 0 0 3px #7f7f7f;
    border-color: rgb(186, 186, 186);
}
button:focus {
    outline: none;
}
#result-wrap {
    position: relative;
}
#title-wrap {
    border: none;
    overflow: hidden;
    min-height: 0;
    margin: 0 10px;
}
#title-wrap > h1 {
    width: 50%;
    margin: 15px 0 0;
    float: left;
}
#title-wrap > h1::after {
    clear: both;
}
#history-wrap {
    overflow: hidden;
}
#history, #saved {
    min-height: inherit;
    float: left;
    overflow: hidden;
    width: calc(50% - 1px);
    height: 100%;
}
#history::after, #saved::after {
    clear: both;
}
#history {
    border-right: 1px solid #000000;
}
#saved {
    border-left: 1px solid #000000;
}
#result > *, #history > *, #saved > * {
    display: inline-block;
    margin: 3px;
}
#save {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 100%;
}
#save > button {
    width: 100%;
    height: 100%;
}
